.profilecontainer {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 130px;
    font-family: "Crimson Text", serif;
  }
  
  .profile-image-section {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .username {
    font-size: 25px;
    font-weight: 600;
  }
  
  .profile-details {
    /* padding: 0 20px; */
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .profile-section {
    background-color: #56706dfc;
    cursor: pointer;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .profile-section:hover{
    background-color: #6f8885fc;
    transform: translateY(-2px);
    outline: 2px solid #090c0cfc;
}
  
  .profile-title {
    padding: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Crimson Text';
  }
  
  .icon {
    margin-left: 0.5rem;
    vertical-align: middle;
  }
  
  .data {
    font-weight: normal;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .profile-container {
      padding: 1rem;
    }
  
    .profile-title {
      font-size: 1rem;
    }
  
    .data {
      font-size: 0.9rem;
    }
  }
  