@keyframes slideUp {
    from {
      transform: translateY(80px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.nav{
  background-color: #56706dfc;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 300;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}
.imagecontainer{
    display: flex;
    align-items: center;
    gap: 8px;

    p {
      font-family: "Crimson Text", serif;
      color: #ffffff;
      font-size: 26px;
    }
}
.navicon{
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;

  svg {
    cursor: pointer;
  }
}
.display{
  background-color: #729490fc;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.display form {
  width: 100%;
  display: flex;
}
input{
  background: #729490fc;
  border: none;
  outline: none;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  color: #000000;
}

.display button {
  background-color: #729490fc;
  border: none;
  border-radius: 10px;
}
@media (max-width: 480px) {
.navicon {
  gap: 5px;
}
.imagecontainer{
  gap: 0px;
    p {
    font-size: 20px;
  }
}
.display form {
  display: none;
}
.display{
  background-color: #56706dfc;
}
.display button {
  background-color: #56706dfc;
}
}
